.controller.fight-stick {
	background: url(https://vectr.com/tmp/fkn3C2Gyc/b2oOTJ73Pf.svg)
}

.fight-stick .fstick {
    top: 198px;
    left: 193px;
}

.fight-stick .a { 
    background: #39B54A !important;
	left: -1px;
}

.fight-stick .b {
    background: #C1272D !important;
	right: 32px;
}

.fight-stick .x {
    background: #0071BC !important
	left: 32px;
}
	
.fight-stick .y {
    background: #FCEE21 !important;
	right: 1px;
}

.fight-stick .bumper.left {
    top: -27px;
	position: absolute;
}

.fight-stick .bumper.right {
    top: -27px;
	position: absolute;
}

.fight-stick .trigger-button.left {
    bottom: 103px;
	position: absolute;
}

.fight-stick .trigger-button.right {
    bottom: 103px;
	position: absolute;
}


.fight-stick .button.pressed {
    background: #CCCCCC !important;
    -webkit-filter: invert(0);
}

.fight-stick .back {
	visibility: hidden;	
}

.fight-stick .back.pressed {
	visibility: hidden;	
}

.fight-stick .start {
	visibility: hidden;
}

.fight-stick .start.pressed {
	visibility: hidden;
}